<h3>Hello Angular..!!</h3>


<div>
  <form [formGroup]="userForm" ngNativeValidate (ngSubmit)="addUser()">
    <label for="id">Id: </label>
    <input type="text" formControlName="id" required>
    
    <label for="name">Name: </label>
    <input type="text" formControlName="name" required>
    
    <label for="role">Role: </label>
    <input type="text" formControlName="role" required>
    
    <button type="submit" class="btn primary">Add</button>

  </form>
</div>

<hr>

<div>
  <table class="table">
    <tr>
      <th>Id</th><th>Name</th><th>Role</th><th>Action</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.payload.doc.data().id}}</td>
      <td>{{user.payload.doc.data().name}}</td>
      <td>{{user.payload.doc.data().role}}</td>
      <td><button class="btn danger" (click)="delete(user.payload.doc.id)">Delete</button></td>
    </tr>
  </table>
</div>
